section.section-about-fact {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 80px;
    padding-top: 52px;
    padding-bottom: 52px;
    background-color: rgba(var(--dark-color), 0.03);
}

section.section-about-fact .fact-card {
    display: flex;
    flex-direction: column;
    text-align: center;
}

section.section-about-fact .fact-card .card-value {
    color: rgba(var(--primary-color), 1);
    font-size: 4.5rem;
    margin-bottom: 8px;
    font-family: var(--space-grotesk-bold);
}

section.section-about-fact .fact-card .card-description {
    font-size: 0.875rem;
    line-height: 150%;
    color: rgba(var(--dark-color), 0.52);
}