section.section-collection .collection-content {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

section.section-collection .collection-content .content-card {
    position: relative;
    overflow: hidden;
}

section.section-collection .collection-content .content-card .image-collection {
    width: 100%;
    border-radius: 4px;
}

section.section-collection .collection-content .content-card .card-collection {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    background-color: rgba(var(--dark-color), 0.08);
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    padding: 20px;
}

section.section-collection .collection-content .content-card .card-collection .collection-title {
    font-size: 1rem !important;
    font-family: var(--space-grotesk-bold);
    margin-bottom: 2px !important;
    color: rgba(var(--dark-color), 1);
}

section.section-collection .collection-content .content-card .card-collection .collection-category {
    font-size: 0.875rem;
    color: rgba(var(--primary-color), 1);
    font-family: var(--space-grotesk-semibold);
}

section.section-collection .collection-content .content-card .card-collection .collection-paragraph {
    height: 0 !important;
    opacity: 0;
    padding-top: 0 !important;
    font-size: 0.875rem;
    width: 100%;
    color: rgba(var(--dark-color), 0.52);
    line-height: 150%;
    transition: 600ms !important;
    --max-lines: 3; 
    overflow: hidden;
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
}

section.section-collection .collection-content .content-card:hover .card-collection .collection-paragraph {
    height: 60px !important;
    opacity: 1;
    padding-top: 10px !important;
    transition: 600ms !important;
}